<div style="height:500px; width:500px; position:absolute; background-color:white; top: 50%; left: 50%; margin: -200px 0px 0px -200px;">

    <div style="height:500px; width:500px; display:table-cell; vertical-align:middle; text-align:center;">

        <h2><%= @title %></h1>
            <h4>에게</h4>  
        <h2><%= @content %></h2>
            <h4>라고 하셨군요!</h4>
        <br/>
        <h1>그대로 전해드리죠!!</h1>

        <br/>
        <a href="/">다른놈한테도 보내보자</a>


    </div>
</div>